/* untuk perangkat yang memiliki resolusi tinggi*/
@media all and (max-width: 1928px) {
	.txt-contents {
		width: 100%;
		margin-top: 0px;
		font-size: 16px;
		color: black;
	}
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
	/* .work-wrapper{
		margin-top: -20%;
	} */

	.work {
		width: 100%;
		margin-bottom: 50px;
	}

	.lesson {
		width: 50%;
		margin-bottom: 50px;
	}
	
	.top-wrapper h1 {
		font-size: 32px;
		font-weight: bold;
	}
	
	.heading h2 {
		font-size: 20px;
	}
	
}

/* Untuk Smartphone */
@media all and (max-width: 600px) {
	
	footer {
		text-align: center;
	}

	.top-wrapper {
		margin-top: -12%;
		text-align: left;
	}
	
	.work-wrapper {
		margin-top: -40%;
	}

	.work {
		width: 100%;
	}

	.work-icon p {
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 2px;
		opacity: 0.7;
	}

	.lesson {
		width: 100%;
	}
	
	.btn {
		width: 100%;
	}

	.top-wrapper h1 {
		font-size: 24px;
		line-height: 36px;
	}
	
	.top-wrapper p {
		font-size: 14px;
		line-height: 20px;
	}
	
	.header-right {
		display: none;
	}

	
	div .menu-icon {
		display: block;
	}

	.heading h1{
		font-size: 24px;
	}

	.heading h2{
		font-size: 20px;
	}
}

/* Baru */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.single-portfolio .portfolio-text .portfolio-title a {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	.single-portfolio .portfolio-text .portfolio-title a {
		font-size: 20px;
	}
}


@media screen and (max-width: 600px) {

	.topnav a {
		display: none;
	}
	
	.topnav a.icon {
		float: right;
		display: block;
	}

	.topnav.responsive {
		margin-top: 65px;
	}
	
	.topnav {
		margin-right: -42px;
	}
	
	.topnav.responsive a.icon {
		right: 0;
	}
	
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		background-color: rgb(255, 101, 167);
	}

	.icon-mode{
		margin-top: 10px;
		margin-left: 0;	
	}
	svg{
		margin-bottom: 10px;
		margin-left: 0;
	}
}