<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} Home {% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/stylesheet.css' )}}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/style-bootstrap.css' )}}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/responsive.css' )}}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/animasi.css' )}}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
		integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
</head>

<body>
	<header>
		<div class="container">
			<div class="header-left">
				<a href="#beranda">
					<img class="logo" style="margin:0; width: 75px; height: 75px; "
						src="{{ url_for('static', filename = 'assets/foto/logo.png' )}}">
				</a>
			</div>
			<div class="menu-icon">
				<a href="javascript:void(0);" class="icon" onclick="myFunction()">
					<span class="fa fa-bars"></span>
				</a>
			</div>
			<div class="topnav" id="myTopnav">
				<a href="/" class="active">Beranda</a>
				<a href="/encrypt">Enkripsi</a>
				<a href="/decrypt">Dekripsi</a>
				<a href="/profil">Tim</a>
				<a href="/login">Login</a>
			</div>
		</div>
	</header>
	{% block content %}

	{% endblock %}
	<footer>
		<div class="container">

			<p id="footer-text">Learn to code, learn to be creative.</p>
			<div class="icon-mode">
				<p id="footer-text">Coba Click di sini :</p>
				<svg id="darkMode" width="45" height="45" viewBox="0 0 45 45" fill="none">
					<path class="sun"
						d="M45 22.5C45 34.9264 34.9264 45 22.5 45C10.0736 45 0 34.9264 0 22.5C0 10.0736 10.0736 0 22.5 0C34.9264 0 45 10.0736 45 22.5Z"
						fill="#FAFF00" />
				</svg>
			</div>
			<p id="footer-text">Sponsored By :</p>
			<a href="https://netacad.com/" target="_blank">
				<img src="{{ url_for('static', filename = 'assets/foto/cisco_netacad_logo.png' )}}">
			</a>
			<a href="https://digitalent.kominfo.go.id/" target="_blank" style="padding: 10px;">
				<img src="{{ url_for('static', filename = 'assets/foto/digitalent.png' )}}">
			</a>


		</div>

	</footer>


	<script src="{{ url_for('static', filename = 'assets/js/anime.min.js' )}}"></script>
	<script src="{{ url_for('static', filename = 'assets/js/App.js' )}}"></script>
	<script src="{{ url_for('static', filename = 'assets/js/jquery-1.12.4.min.js' )}}"></script>
	<script src="{{ url_for('static', filename = 'assets/js/imagesloaded.pkgd.min.js' )}}"></script>
	<script src="{{ url_for('static', filename = 'assets/js/slick.min.js' )}}"></script>
	<script src="{{ url_for('static', filename = 'assets/js/jquery.magnific-popup.min.js' )}}"></script>
	<script src="{{ url_for('static', filename = 'assets/js/isotope.pkgd.min.js' )}}"></script>
	<script src="{{ url_for('static', filename = 'assets/js/wow.min.js' )}}"></script>
	<script src="{{ url_for('static', filename = 'assets/js/main.js' )}}"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready(function () {
			$('#datatable').DataTable();
		});
	</script>
	<script>
		$(document).ready(function () {
			$("a").on('click', function (event) {
				if (this.hash !== "") {
					event.preventDefault();
					var hash = this.hash;
					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function () {
						window.location.hash = hash;
					});
				}
			});
		});

		function myFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			}
			else {
				x.className = "topnav";
			}
		}

	</script>
	
	<script language="Javascript" type="text/javascript">

        function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                    return true;
                else
                    return false;
            }
            catch (err) {
                alert(err.Description);
            }
        }

    </script>
</body>

</html>