{% extends "base.html" %}
{% block title %} DECRYPTER {% endblock %}

{% block content %}

<div class="work-wrapper" id="ext1">
    <div class="container">
        <div class="heading">
            <h2>CAESAR CHIPPER DECRYPTER</h2>
            <h2>CISCO X DTS2021</h2>
        </div>
        
        <form action="http://localhost:5000/hasil2" method="POST">
            <h3>MASUKAN TEXT BERUPA STRING KEDALAM FORM :</h3>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" id="text" style="text-transform:uppercase" onkeypress="return onlyAlphabets(event,this);" name="text1" placeholder="Masukan Kata / Nilai Berupa Huruf">
            </div>

            <button class="btn btn-info" type="submit">Proses</button>
        </form>

    </div>

</div>


{% endblock %}