{% extends "base.html" %}
{% block title %} ENCRYPTER {% endblock %}

{% block content %}

<div class="work-wrapper" id="ext1">
    <div class="container">
        <div class="heading">
            <h2><u>CISCO X DTS2021</u></h2>
        </div>
        
        <br>
        <br>
        <h2>Hasil Dekripsi Dari  " <u>{{ textAwal }}</u> " adalah ...</h2>
        <br>
        <h2>" {{ hasil2 }} "</h2>

    </div>
</div>


{% endblock %}