{% extends "base.html" %}
{% block title %} Beranda {% endblock %}

{% block content %}
<div class="top-wrapper" id="beranda">
    <div class="container">
        <h1>PELATIHAN DARING</h1>
        <h1>CISCO X DTS2021</h1>
        <p>Team Project.</p>
        <p>Halaman ini dibuat untuk menuntaskan tugas dari pelatihan <b>PROA.</b></p>
        <br>
        <a href="https://netacad.com/" target="_blank">
            <img src="{{ url_for('static', filename = 'assets/foto/cisco_netacad_logo.png' )}}">
        </a>
        <br>
        <br>
        <a href="https://digitalent.kominfo.go.id/" target="_blank">
            <img src="{{ url_for('static', filename = 'assets/foto/digitalent.png' )}}">
        </a>
        
    </div>
</div>
{% endblock %}