{% extends "layout.html" %}
{% block title %} Beranda {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="starter-template" style="margin-top: 100px; margin-bottom:50px;">
        <center>
            <h2>TABEL PENGOLAHAN DASHBOARD DATA VAKSINASI</h2>
        </center>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Tambah
            Data</button>
        <br>
        <br>
        <table class="table table-bordered" id="datatable">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Nama</td>
                    <td>Registrasi</td>
                    <td>Waktu Registrasi</td>
                    <td>Venue</td>
                    <td>Waktu Venue</td>
                    <td>Tidak Vaksin</td>
                    <td>Vaksinasi</td>
                    <td>Waktu Vaksinasi</td>
                    <td>Observasi</td>
                    <td>Waktu Obervasi</td>
                    <td>Aksi</td>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.6 }}</td>
                    <td>{{ row.7 }}</td>
                    <td>{{ row.8 }}</td>
                    <td>{{ row.9 }}</td>
                    <td>{{ row.10 }}</td>
                    <td>{{ row.11 }}</td>
                    <td>{{ row.12 }}</td>
                    <td>{{ row.13 }}</td>
                    <td>{{ row.14 }}</td>
                    <td>
                        <a href="#!" class="btn btn-warning btn-sm" data-toggle="modal"
                            data-target="#modalEdit{{ row.0 }}">Edit</a>
                        <a href="/crud/hapus/{{ row.0 }}" class="btn btn-danger btn-sm"
                            onclick="return confirm('Anda yakin untuk hapus?')">Hapus</a>
                    </td>
                </tr>
                <!-- Modal -->
                <div id="modalEdit{{ row.0 }}" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('update') }}" method="POST">
                                    <legend>Edit Data {{ row.1 }}</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nama:</label>
                                                <input type="hidden" name="id" value="{{ row.0 }}">
                                                <input type="text" class="form-control" name="nama" value="{{ row.1 }}"
                                                    disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Batch:</label>
                                                <input type="text" class="form-control" name="batch" value="{{ row.2 }}"
                                                    disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>No Antrian:</label>
                                                <input type="text" class="form-control" name="no_antrian"
                                                    value="{{ row.3 }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Gender:</label>
                                                <input type="text" class="form-control" name="gender"
                                                    value="{{ row.4 }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Venue:</label>
                                                <input type="text" class="form-control" name="venue" value="{{ row.5 }}"
                                                    disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                {% if row.6 == 1 %}
                                                <input type="checkbox" class="form-check-input" name="is_registrasi"
                                                    value="1" checked disabled>
                                                {% else %}
                                                <input type="checkbox" class="form-check-input" name="is_registrasi"
                                                    value="1">
                                                {% endif %}
                                                <input type="hidden" name="is_registrasi" value="{{ row.6 }}">
                                                <label class="form-check-label" for="exampleCheck1">Registrasi</label>
                                            </div>
                                            <div class="form-group">
                                                <label>Waktu Registrasi:</label>
                                                <input type="time" class="form-control" name="registrasi_time"
                                                    value="{{ row.7 }}">
                                            </div>
                                            <div class="form-check">
                                                {% if row.8 == 1 %}
                                                <input type="checkbox" class="form-check-input" name="is_venue"
                                                    value="1" checked disabled>
                                                {% else %}
                                                <input type="checkbox" class="form-check-input" name="is_venue"
                                                    value="1">
                                                {% endif %}
                                                <input type="hidden" name="is_venue" value="{{ row.8}}">
                                                <label class="form-check-label" for="exampleCheck1">Venue</label>
                                            </div>
                                            <div class="form-group">
                                                <label>Waktu Venue:</label>
                                                <input type="time" class="form-control" name="venue_time"
                                                    value="{{ row.9 }}">
                                            </div>
                                            <div class="form-check form-check-inline">
                                                {% if row.11 == 1 %}
                                                <input type="checkbox" class="form-check-input" name="is_vaksinasi"
                                                    value="1" checked disabled>
                                                {% elif row.10 == 1 %}
                                                <input type="checkbox" class="form-check-input" name="is_vaksinasi"
                                                    value="1" disabled>
                                                {% else %}
                                                <input type="checkbox" class="form-check-input" name="is_vaksinasi"
                                                    value="1">
                                                {% endif %}
                                                <input type="hidden" name="is_vaksinasi" value="{{ row.11 }}">
                                                <label class="form-check-label" for="exampleCheck1">Vaksinasi</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                {% if row.10 == 1 %}
                                                <input type="checkbox" class="form-check-input" name="is_lolos"
                                                    value="1" checked disabled>
                                                {% elif row.11 == 1 %}
                                                <input type="checkbox" class="form-check-input" name="is_lolos"
                                                    value="1" disabled>
                                                {% else %}
                                                <input type="checkbox" class="form-check-input" name="is_lolos"
                                                    value="1">
                                                {% endif %}
                                                <input type="hidden" name="is_lolos" value="{{ row.10 }}">
                                                <label class="form-check-label" for="exampleCheck2">Tunda</label>
                                            </div>
                                            <div class="form-group">
                                                <label>Waktu Vaksin:</label>
                                                <input type="time" class="form-control" name="vaksinasi_time"
                                                    value="{{ row.12 }}">
                                            </div>
                                            <div class="form-check">
                                                {% if row.13 == 1 %}
                                                <input type="checkbox" class="form-check-input" name="is_observasi"
                                                    value="1" checked disabled>
                                                {% elif row.10 == 1 %}
                                                <input type="checkbox" class="form-check-input" name="is_observasi"
                                                    value="1" disabled>
                                                {% else %}
                                                <input type="checkbox" class="form-check-input" name="is_observasi"
                                                    value="1">
                                                {% endif %}
                                                <input type="hidden" name="is_observasi" value="{{ row.13 }}">
                                                <label class="form-check-label" for="exampleCheck1">Observasi</label>
                                            </div>
                                            <div class="form-group">
                                                <label>Observasi Vaksin:</label>
                                                <input type="time" class="form-control" name="observasi_time"
                                                    value="{{ row.14 }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-warning" type="submit">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                {% else %}
                <tr>
                    <td colspan="2">Data tidak ada</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('simpan') }}" method="POST">
                    <legend>Tambah Data</legend>
                    <div class="form-group">
                        <label>Nama:</label>
                        <input type="text" class="form-control" name="nama">
                    </div>
                    <div class="form-select">
                        <label>Gender:</label>
                        <select class="form-select" aria-label="Default select example" name="batch">
                            <option selected>Pilih Batch</option>
                            <option value="1">07.00 - 09.00</option>
                            <option value="2">09.00 - 10.00</option>
                            <option value="3">10.00 - 11.00</option>
                            <option value="4">11.00 - 12.00</option>
                            <option value="5">12.30 - 13.00</option>
                            <option value="6">13.00 - 14.00</option>
                            <option value="7">14.00 - 15.00</option>
                            <option value="8">15.00 - 16.00</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>No Antrian:</label>
                        <input type="text" class="form-control" name="no_antrian">
                    </div>
                    <div class="form-select">
                        <label>Gender:</label>
                        <select class="form-select" aria-label="Default select example" name="gender">
                            <option selected>Pilih Gender</option>
                            <option value="1">Laki-laki</option>
                            <option value="2">Perempuan</option>
                        </select>
                    </div>
                    <div class="form-select">
                        <label>Gender:</label>
                        <select class="form-select" aria-label="Default select example" name="venue">
                            <option selected>Pilih Venue</option>
                            <option value="1">Venue 1</option>
                            <option value="2">Venue 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="sbumit">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /.container -->

{% endblock %}