{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="container" style="margin-top: 130px; margin-bottom: 50px;">
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-transparent mb-0"><h5 class="text-center"><span class="font-weight-bold text-primary">LOGIN</span></h5></div>
          <div class="card-body">
            <form action="/auth" method="POST">
              <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" onkeypress="return onlyAlphabets(event,this);">
              </div>
              <div class="form-group custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
              </div>
              <div class="form-group">
                <input type="submit" name="" value="Login" class="btn btn-primary btn-block">
                <a href = "/signup" class="btn btn-primary btn-block">Sign Up</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}