{% extends "base.html" %}
{% block title %} Profil {% endblock %}

{% block content %}

<div class="lesson-wrapper" id="ext2">
    <div class="container">
        <div class="heading">
            <h1>ANGGOTA PYT 1D - GRUP R</h1>
            <h2>"MENCOBA UNTUK TERUS BERKARYA"</h2>
            <h3>Mari Belajar dan Terus Belajar</h3>
        </div>
        <div class="lessons row grid">
            <div class="lesson">
                <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <div class="portfolio-image">
                        <img class="lesson-icon" src="{{ url_for('static', filename = 'assets/foto/user.png' )}}">
                    </div>
                    <div class="portfolio-text">
                        <h4 class="portfolio-title"><a href="javascript:void(0)">Hilda Indriani Gea</a></h4>
                        <p class="text">"..."</p>
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <div class="portfolio-image">
                        <img class="lesson-icon" src="{{ url_for('static', filename = 'assets/foto/ilham.png' )}}">
                    </div>
                    <div class="portfolio-text">
                        <h4 class="portfolio-title"><a href="javascript:void(0)">Ilham Muharam Syah</a></h4>
                        <p class="text">"Freelance & Petani"</p>
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <div class="portfolio-image">
                        <img class="lesson-icon" src="{{ url_for('static', filename = 'assets/foto/mfarhan.png' )}}">
                    </div>
                    <div class="portfolio-text">
                        <h4 class="portfolio-title"><a href="javascript:void(0)">Muhammad Ammar Farhan Putra</a></h4>
                        <p class="text">"Freelance"</p>
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <div class="portfolio-image">
                        <img class="lesson-icon" src="{{ url_for('static', filename = 'assets/foto/ryan.png' )}}">
                    </div>
                    <div class="portfolio-text">
                        <h4 class="portfolio-title"><a href="javascript:void(0)">Ryan Haris Raharjo</a></h4>
                        <p class="text">"Staff IT"</p>
                    </div>
                </div>
            </div>
            <div class="lesson">
                <div class="single-portfolio mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <div class="portfolio-image">
                        <img class="lesson-icon" src="{{ url_for('static', filename = 'assets/foto/nurman.png' )}}">
                    </div>
                    <div class="portfolio-text">
                        <h4 class="portfolio-title"><a href="javascript:void(0)">Nurman Setyawan</a></h4>
                        <p class="text">"PNS - PPATK"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}