{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}

{% block content %}
<div class="container" style="margin-top: 130px; margin-bottom: 50px;">
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-transparent mb-0"><h5 class="text-center"><span class="font-weight-bold text-primary">Sign Up</span></h5></div>
          <div class="card-body">
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="email">Email Address </label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email" required/>
                </div>
                <div class="form-group">
                    <label for="email">Username </label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required/>
                </div>

                <div class="form-group">
                    <label for="email">Password </label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter Password" onkeypress="return onlyAlphabets(event,this);" required/>
                </div>
                <div class="form-group">
                    <label for="email">Password (Confirm) </label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" onkeypress="return onlyAlphabets(event,this);" required/>
                </div>
                <br>
                <button type="Submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
  </div>
</div>
</div>
{% endblock %}